{% extends "base.html" %}

{% block content %}
<h2 class="mb-4">{{ title }}</h2>
<div class="list-group">
    {% for post in posts %}
    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ post.title }}</h5>
            <small>{{ post.created_at.strftime('%Y-%m-%d') }}</small>
        </div>
        <p class="mb-1">{{ post.content }}</p>
        <small>By {{ post.author.name }}</small>
        {% if post.image_data or post.image_filename %}
        <div class="mt-2">
            <img src="{% if post.image_data %}{{ url_for('main.get_image', post_id=post.id) }}{% else %}{{ url_for('static', filename='uploads/' + post.image_filename) }}{% endif %}" style="max-height: 100px;">
        </div>
        {% endif %}
    </a>
    {% else %}
    <p>저장된 글이 없습니다.</p>
    {% endfor %}
</div>
{% endblock %}

